.home h1 {
  text-align: center;
}

.home {
  min-height: 100vh;
  /* background: url(../../assets/Image/pop-corn.png) no-repeat center; */
}

.black {
  background: rgba(0, 0, 0, 1);
}

.container-movie {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-movie p {
  color: black;
}

label {
  color: white;
}

.similar-item {
  color: black;
}

.container-search {
  min-height: 100vh;
}

.search h1 {
  font-family: "Lobster", cursive;
}

.similar .title {
  text-align: center;
  font-weight: bold;
  color: #777;
  margin-top: 4px;
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.filme-escolhido-title {
  color: #777;
  font-family: "Baloo Bhai", cursive;
  font-weight: bold;
}

.filme-escolhido-title {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background: linear-gradient(
    to right,
    red 10%,
    #bada55 20%,
    red 30%,
    #bada55 40%,
    red 50%,
    #bada44 60%,
    red 70%,
    #bada44 80%,
    red 90%,
    #bada44 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite;
}

/* .filme-escolhido-title::before {
  content: "";
  display: block;
  background: red;
  width: 50px;
  height: 5px;
  position: absolute;
  right: -10px;
  top: 20px;
}

.filme-escolhido-title::after {
  content: "";
  display: block;
  background: red;
  width: 50px;
  height: 5px;
  position: absolute;
  top: 20px;
  left: -10px;
} */

.info-movie p span {
  font-weight: bold;
}

.info-movie p {
  font-size: 18px;
}

.vote {
  position: absolute;
  bottom: -16px;
  right: 0px;
  background: orange;
  color: white !important;
  width: 64px;
  height: 43px;
  font-weight: bold;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-similar {
  position: absolute;
  right: 0px;
  bottom: -16px;
  background: orange;
  color: white !important;
  width: 64px;
  height: 43px;
  font-weight: bold;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.similar-img {
  cursor: pointer;
  overflow: hidden;
}

.similar-img img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

@media screen and (min-width: 992px) {
  .similar-img img {
    height: 382px;
    width: 255px;
  }
}

.similar-img img:hover {
  transform: scale(1.2);
}

.similar-title {
  cursor: pointer;
}

.similar-title:hover {
  text-decoration: underline;
}

.similar-item img,
.img-card,
.container-white {
  box-shadow: 1px 3px 20px 1px rgba(0, 0, 0, 0.1);
}

.container-white {
  background: #f2f2f2;
  width: 100%;
  max-width: 844px;
}

.btn-search,
.btn-voltar,
.btn-trailer {
  background: linear-gradient(90deg, #7b4397, #dc2430);
  border: none;
  text-transform: uppercase;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  border: none;
  box-shadow: none;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* LOAGIND */

#container {
  border: 70px solid #d6cdbe;
  border-top: none;
  border-bottom: none;
  padding: 30px;
  border-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/gradient%202.png)
    205 repeat;
  animation: movie 6s ease-in-out;
  animation-fill-mode: forwards;
}

.black-loading {
  background: black;
}

#container div {
  opacity: 0.4;
}

#container .a {
  height: 80vh;
  width: 80vw;
  background-color: white;
  background-image: url("../../assets/Image/loading/hobbit.jpg");
  background-size: cover;
  border-radius: 5%;
  margin: 3em 0;
}

#container .b {
  height: 80vh;
  width: 80vw;
  background-color: white;
  background-image: url("../../assets/Image/loading/fast.jpg");
  background-size: cover;
  border-radius: 5%;
  margin: 3em 0;
}

#container .c {
  height: 80vh;
  width: 80vw;
  background-color: white;
  background-image: url("../../assets/Image/loading/avengers.jpeg");
  background-size: cover;
  border-radius: 5%;
  margin: 3em 0;
}

#container .d {
  height: 80vh;
  width: 80vw;
  background-color: white;
  background-image: url("../../assets/Image/loading/inter.jpg");
  background-size: cover;
  border-radius: 5%;
  margin: 3em 0;
}

@keyframes movie {
  0% {
    transform: translatey(-1800px);
  }
  10% {
    transform: translatey(-1200);
  }
  20% {
    transform: translatey(-1000px);
  }
  40% {
    transform: translatey(-500px);
  }
  60% {
    transform: translatey(200px);
  }
  80% {
    transform: translatey(400px);
  }
  100% {
    transform: translatey(1200px);
  }
}

.loading h1 {
  position: absolute;
  color: white;
  left: 30%;
  top: calc(50% + 20px);
}

.loading {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading 6s ease;
}

.loading h1 {
  color: white;
  font-size: 26px;
  text-align: center;
  animation: loading 6s ease;
}

.container-loading {
  animation: loading 6s ease;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin: -7px 0 0 -55px;
  width: 110px;
  height: 14px;
}
#loader {
  animation: loader 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  height: 40px;
  width: 41px;
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 20px);
}
@keyframes loader {
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
#top {
  animation: top 5s linear infinite;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
#bottom {
  animation: bottom 5s linear infinite;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #fff;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@keyframes line {
  10% {
    height: 20px;
  }
  100% {
    height: 20px;
  }
}

.trailer {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer-container {
  max-width: 1140px;
}

.escolhido-foi {
  font-size: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
